*
# Keep this file
!.gitignore
!*.ioc
!*.py
# Allow one-level-down directories
!*/
.metadata/

# Ignore all files in the root
/*.*

# Allow Core/Inc and Core/Src folders (and all their contents) 
# that are one level below the root
!*/Core/Inc/**
!*/Core/Src/**

!*/**/*.ioc